.side-contents
  .account
    .account__box
      .account__box__username
        seo
      .account__box__menu
        =link_to "", class: "account__box__menu__edit" do
          = fa_icon 'edit'
        =link_to "", class: "account__box__menu__setting" do
          = fa_icon 'cog'
  .detail
    .detail__group
      .detail__group__name
        sample
      .detail__group__comment
        Good bye world!