@import "./variable";

.side-contents {
  height: 100vh;
  width: 300px;
  color: $side-content-font-color;
  float: left;
  position: fixed;
}

.account {
  height: 96px;
  background-color: #253141;
  padding: 0 20px;
  &__box {
    width: 100%;
    line-height: 96px;
    display: flex;
    &__username {
      font-size: 16px;
      font-weight: bold;
    }
    &__menu {
      display: flex;
      margin-left: auto;
    }
  }
}

.detail {
  background-color: #2f3e51;
  height: 100vh;
  padding: 0 20px;
  &__group {
    font-weight: bold;
    &__name {
      font-size: 15px;
      padding: 20px 0 5px
    }
    &__comment {
      font-size: 11px;
      padding: 0 0 40px
    }
  }
}