@import "./variable";

.side-contents {
  box-sizing: border-box;
  width: 300px;
  color: $side-content-font-color;
}

.account {
  height: 96px;
  line-height: 96px;
  width: 300px;
  background-color: #253141;
  padding: 0 20px;
  &__box {
    display: flex;
    &__username {
      font-size: 16px;
      font-weight: bold;
    }
    &__menu {
      display: flex;
      margin-left: auto;
    }
  }
}

.detail {
  background-color: #2f3e51;
  height: calc(100vh - 96px);
  padding: 0 20px;
  overflow: scroll;
  &__group {
    font-weight: bold;
    color: white;
    &__name {
      font-size: 15px;
      padding: 20px 0 5px
    }
    &__comment {
      font-size: 11px;
      padding: 0 0 40px
    }
  }
}

a.group-link,
a.group-link:visited,
a.account__box__menu__edit, 
a.account__box__menu__edit:visited, 
a.account__box__menu__setting,
a.account__box__menu__setting:visited {
  color:white;
  text-decoration: none;
}